body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/pandeazucar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
/*acerca de mi */
 .h2 {
  background-color: black;
  color: darkgoldenrod;
  font-style: oblique;

}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.card-body {
  background-color: black;
  color: darkgoldenrod;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
  background-color: goldenrod;
  border-radius: 40%;
}
form {
  background-color: rgb(228, 227, 233);
}
@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
